$layout-side-width: 200px;
.app{
    display: flex;
}
.side{
    flex: 0 0 $layout-side-width;
    height: 100vh;
    overflow: auto;
}
.main{
    flex-grow: 1;
    display: flex;
    .main-header{
        padding: 20px 20px 10px 50px;
        overflow: hidden;
    }
}