
$base-font-family: PingFangSC-Light,'microsoft yahei ui','helvetica neue','hiragino sans gb',tahoma,'microsoft yahei',simsun,sans-serif;
$base-font-size: 14px;
$base-line-height: 1.4;
$base-font-color: #4b595f;

$border-color: #eee;
$background-color: #3593F2;

$icon-qq-color: #4CAFE9;
$icon-wechat-color: #51C332;
$icon-github-color: #46B980;