@import "partials/base";
@import "partials/reset";
@import "partials/layout";
@import "iconfont.css";
.clear{
    clear: both;
}
.side{
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-color;
    .avatar{
        flex: 0 0 190px;
        padding-top: 50px;
        text-align: center;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .name{
            margin-top: 10px;
            text-align: center;
            font-size: 22px;
            font-weight: normal;
        }
    }
    .icon-bar{
        margin: 30px 0;
        flex: 0 0 30px;
        text-align: center;
        .icon{
            margin: 0 10px;
            font-size: 22px;
            cursor: pointer;
        }
        .icon-github{
            color: $icon-github-color;
        }
        .icon-wechat{
            color: $icon-wechat-color;
        }
        .icon-qq{
            color: $icon-qq-color;
        }
    }
    .nav{
        flex-grow: 1;
        li{
          height: 40px;
          line-height: 40px;
          padding: 0 20px 0 50px;
          margin: 5px 0;
          border-left: 5px solid transparent;
          cursor: pointer;
        }
        li:hover,li.active {
            a{
              color: $background-color;
            }
            border-color: $background-color;
            background-color: #e5f1fc;
        }
    }
    .copy{
        flex: 0 0 240px;
    }
}
